<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    @Html.ActionLink("Home","Index","Home")
  @*  @Html.ActionLink("холодная вода","Index","Coldwater")
    @Html.ActionLink("гарячая вода","Index","Hotwater")
    @Html.ActionLink("электричество","Index","Electricity")*@
    
</head>

<body>
    @RenderBody()
</body>
</html>
