@model MvcDOM.Cold_Water

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Cold_Water</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CW1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CW1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CW0)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CW0)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CWT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CWT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CWP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CWP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CWD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CWD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hom.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hom.ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
