@model IEnumerable<MvcHOME.Gas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Поточні")
        </th>
        <th>
            @Html.DisplayName("Попередні")
        </th>
        <th>
            @Html.DisplayName("Спожито")
        </th>
        <th>
            @Html.DisplayName("Пільга")
        </th>
        <th>
            @Html.DisplayName("До сплати")
        </th>
        <th>
            @Html.DisplayName("Дата")
        </th>
        <th>
            @Html.DisplayName("Квартира")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Privelege)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hom.Apartament_naber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
