@model MvcDOM.Sewage

@{
    ViewBag.Title = "Delete";
}

<h2>Видалення</h2>

<h3>Ви впевнені що бажаєте видалити ці записи?</h3>
<fieldset>
    <legend>Стоки гарячої води</legend>

    <div class="display-label">
       Лічильник1
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.S1)
    </div>

    <div class="display-label">
       Лічильник2
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.S0)
    </div>

    <div class="display-label">
       Разом за лічильником 1 та 2 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ST)
    </div>

    <div class="display-label">
      Попередні показники
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SP)
    </div>

    <div class="display-label">
       Різниця 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SD)
    </div>

    <div class="display-label">
       Сума до сплати 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sum)
    </div>

    <div class="display-label">
        Дата 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>

    <div class="display-label">
       Квартира 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hom.Apartament_naber)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
