@model IEnumerable<MvcDOM.Sewage>

@{
    ViewBag.Title = "Index";
}

<h2>Стоки гарячої води</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        <th>
          Лічильник1
        </th>
        <th>
          Лічильник2
        </th>
        <th>
          Разом за лічильником 1 та 2
        </th>
        <th>
          Попередні показники
        </th>
        <th>
          Різниця
        </th>
        <th>
         Сума до сплати 
        </th>
        <th>
          Дата 
        </th>
        <th>
          Квартира 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.S1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ST)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hom.Apartament_naber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
           @* @Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
