@model MvcDOM.Hom

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Hom</legend>

        <div class="editor-label">
           № квартири @*@Html.LabelFor(model => model.Apartament_naber)*@
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apartament_naber)
            @Html.ValidationMessageFor(model => model.Apartament_naber)
        </div>

        <div class="editor-label">
         пільга  @* @Html.LabelFor(model => model.Benefit)*@
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Benefit)
            @Html.ValidationMessageFor(model => model.Benefit)
        </div>

        <div class="editor-label">
         газова плита  @* @Html.LabelFor(model => model.Gas)*@
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gas)
            @Html.ValidationMessageFor(model => model.Gas)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
