@model MvcHOME.Benefit

@{
    ViewBag.Title = "Create";
}

<h2>Створити</h2>

@using (Html.BeginForm("Create", "Benefit", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Пільги</legend>

        <div class="form-group">
            @Html.Label("Пілльга", new { @class = "col-md-2 control-label" })
        
        <div class="col-md-10">
            @Html.EditorFor(model => model.Privilege, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Privilege)
        </div>
</div>
        <div class="form-group">
            @Html.Label("Осіб", new { @class = "col-md-2 control-label" })
        
        <div class="col-md-10">
            @Html.EditorFor(model => model.Persons, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Persons)
        </div>
</div>
        <div class="form-group">
            @Html.Label("Електрика", new { @class = "col-md-2 control-label" })
        
        <div class="col-md-10">
            @Html.EditorFor(model => model.E, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.E)
        </div>
</div>
        <div class="form-group">
            @Html.Label("Холодна вода", new { @class = "col-md-2 control-label" })
        
        <div class="col-md-10">
            @Html.EditorFor(model => model.CW, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CW)
        </div>
</div>
        <div class="form-group">
            @Html.Label("Гаряча вода", new { @class = "col-md-2 control-label" })
        
        <div class="col-md-10">
            @Html.EditorFor(model => model.HW, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HW)
        </div>
</div>
        <div class="form-group">
            @Html.Label("Каналізація", new { @class = "col-md-2 control-label" })
      
        <div class="col-md-10">
            @Html.EditorFor(model => model.S, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.S)
        </div>
  </div>
        <div class="form-group">
            @Html.Label("Квартира", new { @class = "col-md-2 control-label" })
       
        <div class="col-md-10">
            @Html.DropDownList("HomID", String.Empty)
            @Html.ValidationMessageFor(model => model.HomID)
        </div>
 </div>
         <div class="form-group">
        <div class="col-md-1">
            <input type="submit" value="Додати" class="btn btn-default" />
        </div>
    </div>
    </fieldset>
}

<ul class="pagination">

   <li>  @Html.ActionLink("Back to List", "Index")</li>

    </ul>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
