@model IEnumerable<MvcDOM.Hot_Water>

@{
    ViewBag.Title = "Index";
}

<h2>Гаряча вода</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        <th>
        Квартира    
        </th>
        <th>
         Лічильник1
        </th>
        <th>
         Лічильник2
        </th>
        <th>
          Разом за лічильником 1 та 2
        </th>
        <th>
         Попередні
        </th>
        <th>
        Різниця
        </th>
        <th>
         Сума до сплати
        </th>
        <th>
         Дата
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Hom.Apartament_naber)  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HW1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HW0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HWT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HWP)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.HWD)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
